DirectorySlash Off
RewriteEngine on

# launchpad
RewriteRule ^launchpad$ /launchpad/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^launchpad/$ /launchpad [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^launchpad/index.html$ /launchpad [R=301,L]

# OHA token links
RewriteRule ^alteredperspective$ /alteredperspective/index.html [L,E=LOOP:1]
RewriteRule ^freefall$ /freefall/index.html [L,E=LOOP:1]
RewriteRule ^comfortzone$ /comfortzone/index.html [L,E=LOOP:1]
RewriteRule ^imsorry$ /imsorry/index.html [L,E=LOOP:1]
RewriteRule ^leavemealone$ /leavemealone/index.html [L,E=LOOP:1]
RewriteRule ^livewithit$ /livewithit/index.html [L,E=LOOP:1]
RewriteRule ^sleepless$ /sleepless/index.html [L,E=LOOP:1]

# oha
RewriteRule ^oha$ /oha/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^oha/$ /oha [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^oha/index.html$ /oha [R=301,L]

# cryptosolitaire
RewriteRule ^cryptosolitaire$ /cryptosolitaire/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^cryptosolitaire/$ /cryptosolitaire [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^cryptosolitaire/index.html$ /cryptosolitaire [R=301,L]

# genesisblock
RewriteRule ^genesisblock$ /genesisblock/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^genesisblock/$ /genesisblock [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^genesisblock/index.html$ /genesisblock [R=301,L]

# inkvadyrz
RewriteRule ^inkvadyrz$ /inkvadyrz/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^inkvadyrz/$ /inkvadyrz [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^inkvadyrz/index.html$ /inkvadyrz [R=301,L]

# rewards
RewriteRule ^rewards$ /rewards/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^rewards/$ /rewards [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^rewards/index.html$ /rewards [R=301,L]

# mustachios
RewriteRule ^mustachios$ /mustachios/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^mustachios/$ /mustachios [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^mustachios/index.html$ /mustachios [R=301,L]

# sagesrantcollectibles
RewriteRule ^sagesrantcollectibles$ /sagesrantcollectibles/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^sagesrantcollectibles/$ /sagesrantcollectibles [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^sagesrantcollectibles/index.html$ /sagesrantcollectibles [R=301,L]

# titansofindustry
RewriteRule ^titansofindustry$ /titansofindustry/index.html [L,E=LOOP:1]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^titansofindustry/$ /titansofindustry [R=301,L]

RewriteCond %{ENV:REDIRECT_LOOP} !1
RewriteRule ^titansofindustry/index.html$ /titansofindustry [R=301,L]